@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
    Trien Do<br />
    Oxford, Oxfordshire<br />
    England, UK
</address>

<address>
    <strong>Phone:</strong> <a href="mailto:vantriendo@hotmail.com">On request</a><br />
    <strong>Email:</strong> <a href="mailto:vantriendo@hotmail.com">vantriendo@hotmail.com</a>
</address>